#ignore target under current directory and all subdirectories:
.gitignore
target/
*/target/
test-output/
*/test-output/
#ignore settings & gitignore file
.settings/
*/.settings/
.springBeans
*/.springBeans

#ignore svn files
.svn
*/.svn

f2e/

.project

.metadata

*/.project

.classpath
*/.classpath

.data/
*/.data/
*~

.idea/
*.iml

#logs
*/*/logs/

.DS_Store

bin/
*/bin/